{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
 <div class="col-sm-6 col-sm-offset-3">
{% include "messages_display.html"  %}
     {% if instance.image %}
     <img src="{{ instance.image.url | default_if_none:'#' }}" class="img-responsive" />
     {% endif %}
  <h3>  <br>{{ instance.title }}<small>{{ instance.timestamp }}</small>
      {% if instance.user.get_full_name %}

      <p> Author: {{ instance.user.get_full_name }}</p>
      {% endif %}
    <br><div class="fb-like" data-href="{{ request.build.absolute_uri }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    <br>
   <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build.absolute_uri }}">
     Facebook
    </a>

     <a href="https://twitter.com/home?status={{ share_string }}%20{{ request.build.absolute_uri }}">
     Twitter
</a>


    <br>{{ instance.content | linebreaks }}

      </h3>
     <div class="fb-comments" data-href="{{ request.build.absolute_uri }}" data-numposts="5"></div>
     </div>
</div>

</body>
</html>